body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
div{
    width: 100%;
    height: 800px;
    display: Inline-Block;
}
.top{
    position: relative;
    background-color: #FFB4B4;
}
.middle{
    background-color: #FFDEB4;
    height: 850px;
}
.bottom{
    background-color: #FFF9CA;
}
h1{
    color: red;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 0;
}
h5{
    font-size: 1.2rem;
    margin: 20px;
}
.gallery{
    --s: 100px;
    --g: 10px;
    --f: 1.5;
    display: grid;
    gap: var(--g);
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);
}
.gallery > img{
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(50%);
    transition: 0.35s linear;
}
.gallery img:hover{
    filter: grayscale(0);
    width: calc(var(--s) * var(--f));
    height: calc(var(--s) * var(--f));
}

.main_gallery{
    justify-content: center;
    --t: 150px;
    --h: 8px;
    display: grid;
    gap: var(--h);
    height: 300px;
    grid: auto-flow var(--t)/repeat(2,var(--t));
}
.main_gallery > img{
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    z-index: 0;
    transition: 0.25s, z-index 0s 0.25s;
}
.main_gallery img:hover{
    width: calc(200% + var(--h));
    z-index: 1;
    --_c: 50%;
    transition: .4s,z-index 0s;
}
.main_gallery > img:nth-child(1){
    clip-path: circle(var(--_c,55% at 70% 70%));
    place-self: start;
}
.main_gallery > img:nth-child(2){
    clip-path: circle(var(--_c,55% at 30% 70%));
    place-self: start end;
}
.main_gallery > img:nth-child(3){
    clip-path: circle(var(--_c,55% at 70% 30%));
    place-self: end start;
}
.main_gallery > img:nth-child(4){
    clip-path: circle(var(--_c,55% at 30% 30%));
    place-self: end;
}

/** Socail media **/

.social-media {
    display: inline-flex;
    list-style: none;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: chocolate;
    width: 100%;
    justify-content: center;
    margin-bottom: 0;
}
.social-media .icon{
    position: relative;
    background: transparent;
    border-radius: 50%;
    padding: 15px;
    margin-top: 0;
    width: 20px;
    height: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:0 10px 18px rgba(218, 64, 64, 0.1);
    cursor: pointer;
    transition: all 0.25 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social-media .icon a{
    color:  #0b043b;
}
    
.social-media .application{
    position: absolute;
    top: 0;
    font-size: 12px;
    background: transparent;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social-media .application::before {
    position: absolute;
    content:"";
    height: 8px;
    width: 8px;
    background: transparent;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 8.35 cubic-bezier(0.68,
    -0.55, 0.265, 1.55);
}
.social-media .icon:hover .application{
    top: -25px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.social-media .icon:hover span,
.social-media .icon:hover .application {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
    
.social-media .facebook:hover,
.social-media .facebook:hover .application,
.social-media .facebook:hover .application::before {
    background: #1DA1F2;
    color: #ffffff;
}
.social-media .twitter:hover,
.social-media .twitter:hover .application,
.social-media .twitter:hover .application::before{
    background: blue;
    color: #ffffff;
}
.social-media .instagram:hover,
.social-media .instagram:hover .application,
.social-media .instagram:hover .application::before{
    background: red;
    color: #ffffff;
}
.social-media .telegram:hover,
.social-media .telegram:hover .application,
.social-media .telegram:hover .application::before {
    background: rgb(136, 214, 126);
    color: #ffffff;
}
.social-media .youtube:hover,
.social-media .youtube:hover .application,
.social-media .youtube:hover .application::before{
    background: rgb(224, 137, 56);
    color: #ffffff;
}
