body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
div{
    width: 100%;
    height: 800px;
    display: Inline-Block;
}
.top{
    position: relative;
    background-color: #FFB4B4;
}
.middle{
    background-color: #FFDEB4;
    height: 850px;
}
.bottom{
    background-color: #FFF9CA;
}
.img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: solid;
    border-width: 12px;
    border-color: #ee9d9d;
}
h1{
    color: red;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10%;
}
h5{
    display: flex;
    font-size: 1.2rem;
    margin: 40px;
}
.gallery{
    --s: 100px;
    --g: 10px;
    --f: 1.5;
    display: grid;
    gap: var(--g);
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);
}
.gallery > img{
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(50%);
    transition: 0.35s linear;
}
.gallery img:hover{
    filter: grayscale(0);
    width: calc(var(--s) * var(--f));
    height: calc(var(--s) * var(--f));
}

.main_gallery{
    justify-content: center;
    --t: 150px;
    --h: 8px;
    display: grid;
    gap: var(--h);
    height: 300px;
    margin-bottom: 0;
    grid: auto-flow var(--t)/repeat(2,var(--t));
}
.main_gallery > img{
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    z-index: 0;
    transition: 0.25s, z-index 0s 0.25s;
}
.main_gallery img:hover{
    width: calc(200% + var(--h));
    z-index: 1;
    --_c: 50%;
    transition: .4s,z-index 0s;
}
.main_gallery > img:nth-child(1){
    clip-path: circle(var(--_c,55% at 70% 70%));
    place-self: start;
}
.main_gallery > img:nth-child(2){
    clip-path: circle(var(--_c,55% at 30% 70%));
    place-self: start end;
}
.main_gallery > img:nth-child(3){
    clip-path: circle(var(--_c,55% at 70% 30%));
    place-self: end start;
}
.main_gallery > img:nth-child(4){
    clip-path: circle(var(--_c,55% at 30% 30%));
    place-self: end;
}